body {
  background-color: white;
}

navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  z-index: 9999;
  background-color: #fafafa;
  margin-top: -10px;
  margin-left: -10px;
}

#logoimg {
  height: 100px;
  width: 100px;
  margin: 20px;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-right: 80px;
  margin-top: 60px;
}

#nav > a {
  color: #575757;
  text-decoration: none;
  transition: .2s;
  text-align: center;
}

#nav > a:hover {
  color: gray;
}

#main {
  display: flex;
  flex-direction: column;
  z-index: 9998;
}

#bigtext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  margin-left: 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  color: gray;
}

#bigtext > p {
  font-family:'Roboto Slab', sans-serif;
  font-size: 60px;
  color: #575757;
  text-align: left;
}

#altbigtext {
  display: none;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  margin-left: 100px;
}

#altbigtext > p {
  font-family:'Roboto Slab', sans-serif;
  font-size: 60px;
  color: #575757;
  text-align: left;
}

@media screen and (max-width: 800px) {
  #bigtext {
    display: none;
  }

  #altbigtext {
    display: flex;
  }

  #postnav {
    display: none;
  }

  #postnav > a {
    display: none;
  }
}

#lighter {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  color: gray;
}

#pageinfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
}

#postcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 100px;
}

.blogpost {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 50px;
}

.posttitle {
  color: #575757;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 36px;
  margin-bottom: 10px;
}

.postinfo {
  color: #aaaaaa;
  font-family: Helvetica;
  font-size: 14px;
}

#postdate {
  margin-bottom: 10px;
}

.postcontent {
  color: gray;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

#postnav {
  margin-left: 100px;
  margin-top: 10px;
  font-family: 'Roboto Slab', sans-serif;
  color: #575757;
}

#postnav > a {
  font-family: 'Helvetica', sans-serif;
  color: gray;
  font-weight: bold;
  text-decoration: none;
  transition: .2s;
}

#postnav > a:hover {
  color: #5395C1;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: -10px;
  margin-right: -10px;
  background-color: #fafafa;
  position: absolute;
}

#social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
  margin-top: 30px;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  color: gray;
}

.fa.fa-envelope {
  color: gray;
  transition: .2s;
}

.fa.fa-envelope:hover {
  color: black;
}

.fa.fa-facebook-square {
  color: gray;
  transition: .2s;
}

.fa.fa-facebook-square:hover {
  color: #3b5998;
}

.fa.fa-twitter {
  color: gray;
  transition: .2s;
}

.fa.fa-twitter:hover {
  color: #00aced;
}

#bottomlogoimg {
  height: 40px;
  width: 40px;
  margin: 20px;
  margin-top: 25px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: .5s;
}

#bottomlogoimg:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration: .6s;
}

.fade-in.one {
  animation-delay: 0s;
}

.fade-in.two {
  animation-delay: .6s;
}

.fade-in.three {
  animation-delay: 1.2s;
}
