body {
  background-color: white;
}

navbar {
  width: 105%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  position: fixed;
  z-index: 9999;
  background-color: #fafafa;
  margin-top: -10px;
  margin-left: -10px;
}

#logoimg {
  height: 100px;
  width: 100px;
  margin: 20px;
}

#nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-right: 80px;
  margin-top: 60px;
}

#nav > a {
  color: #575757;
  text-decoration: none;
  transition: .2s;
  text-align: center;
}

#nav > a:hover {
  color: gray;
}

#main {
  display: flex;
  flex-direction: column;
  z-index: 9998;
}

#bigtext {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 60px;
  font-family:'Roboto Slab', sans-serif;
  margin-top: 140px;
  color: #575757;
}

#bigtext > p {
  text-align: center;
}

#maintext {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 28px;
  font-family: 'Montserrat', sans-serif;
  margin-right: 70px;
  margin-left: 70px;
  margin-bottom: 30px;
  margin-top: -30px;
  color: gray;
}

#maintext > p {
  text-align: center;
}

#elements {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
}

#elements > div > a {
  text-align: center;
}

@media screen and (max-width: 1000px) {
  #elements {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  #nav {
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.fa.fa-user {
  color: lightgray;
  transition: .2s;
}

.fa.fa-user:hover {
  color: #C74E6B;
}

.fa.fa-graduation-cap {
  color: lightgray;
  transition: .2s;
}

.fa.fa-graduation-cap:hover {
  color: #8AD07D  ;
}

.fa.fa-home {
  color: lightgray;
  transition: .2s;
}

.fa.fa-home:hover {
  color: #CD91D3;
}

.element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  margin-left: 20px;
}

.element > a {
  font-size: 150px;
}

.element > h1 {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
  color: gray;
  text-align: center;
  margin-top: -15px;
  margin-bottom: -15px;
}

.element > p {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  color: lightgray;
  text-align: center;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -10px;
  margin-right: -10px;
  background-color: #fafafa;
  position: absolute;
}

#social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20px;
  margin-top: 30px;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  color: gray;
}

.fa.fa-envelope {
  color: gray;
  transition: .2s;
}

.fa.fa-envelope:hover {
  color: black;
}

.fa.fa-facebook-square {
  color: gray;
  transition: .2s;
}

.fa.fa-facebook-square:hover {
  color: #3b5998;
}

.fa.fa-twitter {
  color: gray;
  transition: .2s;
}

.fa.fa-twitter:hover {
  color: #00aced;
}

#bottomlogoimg {
  height: 40px;
  width: 40px;
  margin: 20px;
  margin-top: 25px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: .5s;
}

#bottomlogoimg:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
    opacity:0;  /* make things invisible upon start */
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration: .6s;
}

.fade-in.one {
  animation-delay: 0s;
}

.fade-in.two {
  animation-delay: .6s;
}

.fade-in.three {
  animation-delay: 1.2s;
}
